
/*header start*/
.ui-menu { width: 150px; }
.toggler { width: 500px; height: 200px; position: relative; }
#button { padding: .5em 1em; text-decoration: none; }
#effect { width: 240px;  padding: 1em; border: 1px solid #000; background: #eee; color: #333; }
.newClass { text-indent: 40px; letter-spacing: .4em; width: 410px; height: 200px; padding: 30px; margin: 10px; font-size: 1.1em; }
.toggler1 { width: 500px; height: 200px; position: relative; }
  #button1 { padding: .5em 1em; text-decoration: none; }
  #effect1 { position: relative;  width: 240px;  padding: 0em;  letter-spacing: 0; font-size: 1.2em; border: 1px solid #000; background: #eee; color: #333; }
  .newClass1 { text-indent: 40px; letter-spacing: .4em; width: 410px; height: 100px; padding: 30px; margin: 10px; font-size: 1.6em; }
/*header end*/